{% extends 'base.html' %}
{% load static %}
{% load social_share %}
{% block title %}
    home
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
        <div class="container-fluid">
            <div class="owl-banner owl-carousel">
                {% for article in articles %}
                    <div class="item">
                        {% if article.image %}
                            <img src="{{ article.image.url }}" alt="{{ article.title }}">
                        {% else %}
                            <img src="{% static "images/icons/false-gfca56efa7_1281111.png" %}" alt="">
                        {% endif %}
                        <div class="item-content">
                            <div class="main-content">
                                <div class="meta-category">
                                    <span>{{ article.category.first.title }}</span>
                                </div>
                                <a href="{{ article.get_absolute_url }}"><h4>{{ article.title }}</h4></a>
                                <ul class="post-info">
                                    <li><a href="#">{{ article.author.username }}</a></li>
                                    <li><a href="#">{{ article.created }}</a></li>
                                    <li><a href="#">12 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->

    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            {% for article in articles %}
                                <div class="col-lg-12">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            {% if article.image %}
                                                <img src="{{ article.image.url }}" alt="{{ article.title }}">
                                            {% else %}
                                                <img src="{% static "images/icons/false-gfca56efa7_1281111.png" %}"
                                                     alt="">
                                            {% endif %}
                                        </div>
                                        <div class="down-content">
                                            <span>{{ article.category.first }}</span>
                                            <a href="{{ article.get_absolute_url }}"><h4>{{ article.title }}</h4></a>
                                            <ul class="post-info">
                                                <li><a href="#">{{ article.author.get_full_name }}</a></li>
                                                <li><a href="#">{{ article.created }}</a></li>
                                                <li><a href="#">12 Comments</a></li>
                                            </ul>
                                            <p>{{ article.body|truncatewords:30 }}</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-tags"></i></li>
                                                            <li><a href="#">Beauty</a>,</li>
                                                            <li><a href="#">Nature</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-6">
                                                        <ul class="post-share">
                                                            <li><i class="fa fa-share-alt"></i></li>
                                                            <li>{% post_to_whatsapp article.get_absolute_url "whatsapp" %}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a href="{% url "blog:articles_list" %}">View All Posts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% include "includes/sidebar.html" %}
            </div>
        </div>
    </section>

{% endblock %}


